.Search{
    margin-right: 20px;
    margin-left: 20px;
    width: 150%;
    font-family: 'Work Sans', sans-serif;
}
.Search input{
    padding: 4px !important;
    border-color: transparent;
    width: 70%;
    margin-right: 5px;
    height: 50% !important;
    font-size: 1rem !important;
}

.Search button{
    padding: 2px;
    width: 20%;
    border-color: transparent;
    font-size: 1rem !important;
}

.Search button:hover{
    transition-duration: 10ms;
    background-color: cadetblue;
    color: white;
    
}